<ion-header color="primary">

    <ion-navbar color="primary">
        <ion-title>{{selectedCategory.name}}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="goHome()">
        <ion-icon name="home" style="zoom:1.5;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content class="bck">
    <!--  <button ion-item *ngFor="let food of foods" (click)="goToDetails($event, food)">
      {{food.picture}}
    </button>-->
    <ion-card *ngFor="let food of foods">

        <ion-card-content>
            <ion-card-title text-center>
                {{food.name}}
            </ion-card-title>
            <img class="wut" src="{{food.picture}}" (click)="goToDetails($event, food)" />
            <div text-center>
                Цена:
                <span class="okay"> {{food.price}}</span> $.
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>