page-cart {
    .elegiggle {
        background: ghostwhite;
    }
    .sus {
        font-family: 'Helvetica Neue', sans-serif;
        text-align: justify;
        text-justify: inter-word;
    }
    .row-centered {
        text-align: center;
    }
    .my-teams-header {
        font-weight: bold;
        font-size: large;
    }
    .margin {
        margin-left: 10px;
    }
    p.otstup {
        margin-block-end: 10px;
    }
}