page-welcome {}

.bck {
    background-image: url('../assets/images/welcome.jpg');
    -webkit-background-image: url('https://pp.userapi.com/c836225/v836225474/3ef4c/4ci6tU9LlRY.jpg') no-repeat center center fixed;
    background-size: cover;
}

.pos {
    position: relative;
    top: 40%;
}

.pos1 {
    position: relative;
    top: 60%;
}